.noteview {
	margin: 2ch 0;
	max-width: 50ch;
}

.noteview .title {
	border-color: lightgray;
	border-width: 2px 2px 0px 2px;
	border-style: dashed;
	white-space: nowrap;
	width: min-content;
	padding: 5px;
}

.noteview table {
	border-color: lightgray;
	border-width: 2px;
	border-style: dashed;
}

.noteview .datetime {
	text-wrap: nowrap;
	margin-left: 1ch;
}

.noteview td {
	margin: 0;
	padding: 5px;
}

.noteview a {
	color: black;
}
