.noteview {
	margin: 2ch 0;
	max-width: 45ch;
}

@media screen and (max-width: 450px) {
	.noteview {
		max-width: none;
		width: 100%;
	}
}

.noteview .title {
	border-color: lightgray;
	border-width: 2px 2px 0 2px;
	border-style: dashed;
	white-space: nowrap;
	width: min-content;
	padding: 5px;
}

.noteview table {
	border-color: lightgray;
	border-width: 2px;
	border-style: dashed;
}

.noteview td {
	padding: 10px;
}

.noteview .datetime {
	text-align: end;
	font-size: small;
	line-height: 100%;
	color: hsl(0, 0%, 30%);
	text-wrap: nowrap;
}

.noteview .text {
	color: black;
	overflow-wrap: anywhere;
}
