---
import type { GetStaticPaths } from "astro";
import BaseLayout from "layouts/BaseLayout.astro";
import Main from "components/Main.astro";
import Article from "components/Article.astro";
import { getAllBlogIds, getBlogDetail, type Blog } from "lib/microcms";

export const prerender = true;
export const getStaticPaths = (async () => {
	const response = await getAllBlogIds();
	return response.map((blogId) => ({
		params: { blogId },
	}));
}) satisfies GetStaticPaths;

const { blogId } = Astro.params;
const blog: Blog = await getBlogDetail(blogId);
---

<BaseLayout title={blog.title ?? "no_title"}>
	<Main>
		<Article blog={blog} />
	</Main>
</BaseLayout>
