---
import "styles/global.css";

import Main from "components/Main.astro";
import BaseLayout from "layouts/BaseLayout.astro";
import Article from "components/Article.astro";
import { getBlogDetails } from "lib/microcms";

const response = await getBlogDetails({ limit: 3 });
---

<BaseLayout title="blog" iconName="newspaper">
	<Main>
		{
			response.contents.map((c) => (
				<Article blog={c} showTitle limitHeight>
					<div style="font-weight: bold;">
						<a href={`/blog/${c.id}`}>つづきをよむ</a>
					</div>
				</Article>
			))
		}
		<div class="goto-bloglist"><a href="/blogs/1">ブログ一覧へ</a></div>
	</Main>
</BaseLayout>

<style>
	.goto-bloglist {
		text-align: center;
	}
</style>
