---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getBlogs } from "../../lib/microcms";

const response = await getBlogs({fields: ["id", "title"]});
---

<BaseLayout title="test!">
	<main>
		<ul>
			{
			response.contents.map((content) => (
				<li>
					<a href={content.id}>{content.title}</a>
				</li>
			))
			}
		</ul>
	</main>
</BaseLayout>