:root {
    --bgcolor: #f1f5f9;
    --linkcolor: darkblue;
    --bordercolor: darkgray;
}

html {
    background-color: var(--bgcolor);
    font-family: "dotgothic16", cursive;
    font-size: large;
}

body {
    margin: 0 auto;
    max-width: 70ch;
    height: 100%;
    line-height: 1.5;
}

hr {
    color: var(--bordercolor);
    margin-top: 25px;
    margin-bottom: 25px;
}

@media screen and (max-width: 650px) {
    body {
        margin: 3ch;
    }
}

a {
    color: var(--linkcolor);
    text-decoration: none;
}