:root {
    --bgcolor: #f1f5f9;
    --linkcolor: darkblue;
    --bordercolor: darkgray;
}

html {
    background-color: var(--bgcolor);
    font-family: "dotgothic16", cursive;
    font-size: large;
}

body {
    margin: 0 auto;
    max-width: 70ch;
    height: 100%;
    line-height: 1.5rem;
}

hr {
    color: var(--bordercolor);
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 70ch) {
    body {
        margin: 3ch;
    }
}

a {
    color: var(--linkcolor);
    text-decoration: none;
}

code {
    font-family: "M PLUS 1 Code", monospace;
    font-weight: 700;
    margin: 0.15rem;
    border-width: 0.15rem;
    border-radius: 0.2rem;
    border-style: solid;
    border-color: #1e1e1e;
    padding: 0.1rem;
    background-color: #1e1e1e;
    color: aliceblue;
}