nav {
	height: 32px;
	display: flex;
	justify-content: left;
	overflow-x: scroll;
	scrollbar-width: none;
}
nav::-webkit-scrollbar {
	display: none;
}

nav * {
	margin: 0 10px;
	font-size: 110%;
	font-weight: bold;
}

nav .toggleButton {
	cursor: pointer;
	color: black;
}
