---
import "../styles/global.css";

import MyContacts from "../components/MyContacts.astro";
import NoteView from "../components/misskey-notes/NoteView";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about_me" iconName="four-leaf-clover">
	<p>misononoaです。日本に住んでます。</p>
	<NoteView
		client:idle
		username="misononoa"
		origin="https://msky.misononoa.cc"
	/>
	<MyContacts />

	<aside>
		<h2>このサイトに使用されている著作物</h2>
		<ul>
			<li>Fluent Emoji Flat by Microsoft Corporation</li>
			<li>Astro by Astro Contributors</li>
			<li>React by Meta Platforms, Inc. and affiliates</li>
		</ul>
	</aside>
</BaseLayout>
<style>
	aside {
		position: relative;
		width: 80ch;
		margin: 15ch 0;
		font-size: 75%;
		color: gray;
	}

	@media screen and (max-width: 600px) {
		aside {
			margin: auto;
		}
	}

	@media screen and (max-width: 450px) {
		aside h2 {
			font-size: medium;
		}
	}

	aside ul {
		font-size: 105%;
	}
</style>
