---
import "../styles/global.css";

import MyContacts from "../components/MyContacts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about_me" iconName="four-leaf-clover">
	<p>misononoaです。日本に住んでます。</p>
	<MyContacts />
	<aside>
		<h3>このサイトに使用されている著作物</h3>
		<ul>
			<li>Fluent Emoji Flat by Microsoft Corporation</li>
			<li>Astro by Astro Contributors</li>
			<li>React by Meta Platforms, Inc. and affiliates</li>
		</ul>
	</aside>
</BaseLayout>
<style>
	aside {
		margin: 10ch auto;
		font-size: smaller;
		color: #474747;
	}
</style>
