---
import "../styles/global.css";

import MyContacts from "../components/contact/MyContacts.astro";
import NoteView from "../components/misskey-notes/NoteView";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about_me" iconName="four-leaf-clover" displayAside>
	<p>misononoaです。日本に住んでます。</p>
	<main>
		<NoteView
			client:idle
			username="misononoa"
			origin="https://msky.misononoa.cc"
		/>
		<MyContacts />
	</main>
</BaseLayout>

<style>
	main {
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
	}
</style>
