---
import "../styles/global.css";

import MyContacts from "../components/MyContacts.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="about_me" iconName="four-leaf-clover">
	<p>misononoaです。日本に住んでます。</p>
	<MyContacts />
	<aside>
		<h2>このサイトに使用されている著作物</h2>
		<ul>
			<li>Fluent Emoji Flat by Microsoft Corporation</li>
			<li>Astro by Astro Contributors</li>
			<li>React by Meta Platforms, Inc. and affiliates</li>
		</ul>
	</aside>
</BaseLayout>
<style>
	aside {
		margin: 12ch auto;
		font-size: 75%;
		color: gray;
	}
	aside ul {
		font-size: 105%;
	}
</style>
