---
import Main from "components/Main.astro";
import BaseLayout from "layouts/BaseLayout.astro";
import "styles/global.css";
import RandomMessage from "components/RandMsg.vue";

const messages = [
	"トマトが好きです",
	"寒い季節のほうが好きです。",
	"口の中の皮を噛む癖があります。",
	"べっこうあめが好き",
	"元気",
	"ゲームをプレイすることがあります。",
];
---

<BaseLayout title="about_me" iconName="four-leaf-clover" displayFooter>
	<Main>
		<div class="introduction">
			misononoaです。<br />
			日本に住んでます。<br />
			<RandomMessage client:load messages={messages} />
		</div>
	</Main>
</BaseLayout>

<style>
	.introduction {
		margin: 3ch 1ch;
		overflow-wrap: break-word;
		height: min-content;
	}

	@media (max-width: 600px) {
		.introduction {
			margin: 0;
		}
	}
</style>
