---
import Main from "../components/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import RandomMessage from "../components/RandomMessage";
import "../styles/global.css";

const messages: Array<string> = [
	"トマトが好きです",
	"口の中の皮を噛む癖があります",
	"元気",
];
---

<BaseLayout title="about_me" iconName="four-leaf-clover" displayFooter>
	<Main>
		<div class="introduction">
			misononoaです。<br />
			日本に住んでます。<br />
			<RandomMessage client:load messages={messages} />
		</div>
	</Main>
</BaseLayout>

<style>
	.introduction {
		margin: 3ch 1ch;
		overflow-wrap: break-word;
		height: min-content;
	}

	@media (max-width: 600px) {
		.introduction {
			margin: 0;
		}
	}
</style>
