---
import "../styles/global.css";

import MyContacts from "../components/MyContacts.astro";
import NoteView from "../components/misskey-notes/NoteView";
import BaseLayout from "../layouts/BaseLayout.astro";

const credits = [
	"Astro by Astro Contributors",
	"misskey.js by syuilo and other contributors",
	"React by Meta Platforms, Inc. and affiliates",
	"Fluent Emoji Flat by Microsoft Corporation",
];
---

<BaseLayout title="about_me" iconName="four-leaf-clover">
	<p>misononoaです。日本に住んでます。</p>
	<NoteView
		client:idle
		username="misononoa"
		origin="https://msky.misononoa.cc"
	/>
	<MyContacts />

	<aside>
		<h2>このサイトに使用した著作物</h2>
		<ul>
			{credits.map((text) => <li>{text}</li>)}
		</ul>
	</aside>
</BaseLayout>
<style>
	aside {
		position: relative;
		width: 80ch;
		margin: 15ch 0;
		font-size: 75%;
		color: gray;
	}

	@media screen and (max-width: 600px) {
		aside {
			margin: auto;
		}
	}

	@media screen and (max-width: 450px) {
		aside h2 {
			font-size: medium;
		}
	}

	aside ul {
		font-size: 105%;
	}
</style>
