---
import "../styles/global.css";

import Message from "../components/Message";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="misononoa.cc" titleOverride iconName="flying-saucer">
	<main>
		<Message client:load />
	</main>
</BaseLayout>
