---
import "../styles/global.css";

import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="misononoaのページ"
	titleOverride
	iconName="flying-saucer"
	root
>
	こんにちは!
	<p>
		<a href="/articles/test/">記事ページを作っています</a>
	</p>
</BaseLayout>
