---
import "../styles/global.css";

import Main from "../components/Main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout iconName="flying-saucer">
	<Main>ようこそ</Main>
</BaseLayout>
