---
import Contacts from "../components/Contacts.astro";

const pageTitle = "🛸";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>{pageTitle}</h1>
		<h2>リンク集(仮)</h2>
		<div>
			<Contacts platform="x" tld="com" username="misononoa" />
			<Contacts platform="threads" tld="net" username="misononoa" />
			<Contacts platform="msky.misononoa" tld="cc" username="misononoa" alt="misskey(個人)"/>
		</div>
	</body>
</html>
