---
import Contacts from "../components/Contacts.astro";
import Head from "../components/Head.astro";

const pageTitle = "misononoaのページ";
---

<html>
	<Head title={`${pageTitle}`} override="true" />
	<body>
		<h1>{pageTitle}</h1>
		<h2>リンク集(仮)</h2>
		<div>
			<Contacts fqdn="x.com" username="misononoa" text="X" />
			<Contacts fqdn="threads.net" username="misononoa" text="Threads" />
			<Contacts
				fqdn="msky.misononoa.cc"
				username="misononoa"
				text="misskey(個人)"
			/>
		</div>
	</body>
</html>
