---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>misononoa.cc</title>
	</head>
	<body>
		<h1>リンク集(仮)</h1>
		<ul>
			<li><a href="https://twitter.com">Twitter</a></li>
			<li><a href="https://www.threads.net/@misononoa">Threads</a></li>
			<li><a href="https://misskey.io/@misonoa">Misskey.io</a></li>
		</ul>
	</body>
</html>
