---
export interface Props {
    displayCredits?: boolean;
}

import Contact from "./Contact.astro";
import ToggleList from "./toggle-list/ToggleList";

const creditsStr = [
    "Astro by Astro Contributors",
    "misskey.js by syuilo and other contributors",
    "React by Meta Platforms, Inc. and affiliates",
    "Fluent Emoji Flat by Microsoft Corporation",
];
const { displayCredits } = Astro.props;
---

<footer>
    <aside>
        <div>
            <div style="margin: 0;">ごれんらく</div>
            <ul class="horizontal-list">
                <li class="item">
                    <Contact
                        fqdn="msky.misononoa.cc"
                        name="@misononoa"
                        text="Misskey"
                    />
                </li>
                <li class="item">
                    <Contact fqdn="x.com" name="@misononoa" text="X" />
                </li>
                <li class="item">
                    <Contact
                        fqdn="threads.net"
                        name="@misononoa"
                        text="Threads"
                    />
                </li>
                <li class="item">
                    <Contact
                        fqdn="bsky.app"
                        path="profile"
                        name="misononoa.cc"
                        text="Bluesky"
                    />
                </li>
            </ul>
        </div>
        {
            displayCredits && (
                <div id="credits">
                    <ToggleList
                        client:idle
                        listname="このサイトに使用した著作物"
                        strs={creditsStr}
                    />
                </div>
            )
        }
    </aside>
</footer>
<style>
    footer {
        margin: 3ch;
    }
    aside {
        display: contents;
        font-size: 85%;
        color: gray;
    }
    ul.horizontal-list {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        scrollbar-width: none;
        white-space: nowrap;
    }
    .item {
        display: inline-block;
        margin: 0 3px;
    }
    #credits {
        margin: 1ch 0;
    }

    @media (max-width: 600px) {
        footer {
            margin: 3ch 1ch;
        }
    }

    @media (max-width: 450px) {
        aside h2 {
            font-size: medium;
        }
    }
</style>
