---
import "@fontsource/dotgothic16";
import { Icon } from "astro-icon/components";
import Navigation, { type LinkProp } from "./navigation/Navigation.tsx";

export interface Props {
	title: string;
	iconName: string;
}
const { title, iconName } = Astro.props;
const linkprops: Array<LinkProp> = [
	{
		href: "/",
		name: "misononoa.cc",
	},
	{
		href: "/about",
		name: "about_me",
	},
	{
		href: "/blog",
		name: "blog",
	},
	{
		href: "https://msky.misononoa.cc/",
		name: "misskey",
	},
];
---

<header>
	<h1>
		<Icon name={`fluent-emoji-flat:${iconName}`} height={25} class="icon" />
		{title}
	</h1>
	<Navigation client:idle current={title} links={linkprops} />
</header>

<style>
	header {
		height: max-content;
		width: 100%;
		margin: 5ch 0 3ch 0;
	}

	h1 {
		margin: 1rem 0;
		font-size: 2rem;
	}

	.icon {
		scale: 150%;
	}

	@media screen and (max-width: 450px) {
		h1 {
			font-size: 1.5rem;
		}
	}
</style>
