---
import "@fontsource/dotgothic16";
import { Icon } from "astro-icon/components";
import Navigation from "./navigation/Navigation.tsx";

export interface Props {
	title: string;
	iconName: string;
	root?: boolean;
}
const { title, iconName, root } = Astro.props;
---

<header>
	<h1>
		<Icon name={`fluent-emoji-flat:${iconName}`} height={25} class="icon" />
		{title}
	</h1>
	<Navigation client:idle root={root ? "true" : "false"} />
</header>

<style>
	header {
		height: max-content;
		width: 100%;
		margin-bottom: 4ch;
	}

	h1 {
		margin: 1rem 0;
		font-size: 2rem;
	}

	.icon {
		scale: 150%;
	}

	@media screen and (max-width: 450px) {
		h1 {
			font-size: 1.5rem;
		}
	}
</style>
