---
import Navigation from "./navigation/Navigation.tsx";
import "@fontsource/dotgothic16";
import { Icon } from "astro-icon/components";

export interface Props {
	title: string;
	iconName: string;
	root?: boolean;
}
const { title, iconName, root } = Astro.props;
---

<header>
	<h1>
		<Icon name={`fluent-emoji-flat:${iconName}`} size={40} height={20} />
		{title}
	</h1>
	<nav>
		<Navigation client:idle root={root ? "true" : "false"}>
			<Icon
				name="material-symbols:chevron-right"
				size={30.5}
				slot="expandButton"
			/>
		</Navigation>
	</nav>
</header>

<style>
	header {
		height: max-content;
		width: 100%;
		margin-bottom: 9ch;
	}

	header nav {
		display: flexbox;
		position: fixed;
		top: 12.5ch;
	}

	h1 {
		margin: 1rem 0;
		font-size: 2rem;
	}

	@media screen and (max-width: 450px) {
		h1 {
			font-size: 1.5rem;
		}
	}
</style>
