---
import Hamburger from "./Hamburger.tsx";
import "@fontsource/dotgothic16";

export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<header>
	<h1>{title}</h1>
	<nav>
		<Hamburger client:load />
	</nav>
</header>

<style>
	header {
		height: max-content;
		width: 100%;
		margin-bottom: 9ch;
	}

	header nav {
		display: flexbox;
		position: fixed;
		top: 6rem;
	}

	h1 {
		margin: 1rem 0;
		font-size: 2rem;
	}
</style>
