---
import Contact from "./Contact.astro";
---

<div class="contacts">
	<h2>ご連絡先</h2>
	<Contact fqdn="x.com" username="misononoa" text="X" />
	<Contact fqdn="threads.net" username="misononoa" text="Threads" />
	<Contact fqdn="msky.misononoa.cc" username="misononoa" text="misskey" />
	<slot />
</div>
