---
import Contact from "./Contact.astro";
---

<div class="contacts">
	<h3>ごれんらく</h3>
	<Contact fqdn="msky.misononoa.cc" name="@misononoa" text="Misskey" />
	<Contact fqdn="x.com" name="@misononoa" text="X" />
	<Contact fqdn="threads.net" name="@misononoa" text="Threads" />
	<Contact
		fqdn="bsky.app"
		path="profile"
		name="misononoa.cc"
		text="BlueSky"
	/>
	<slot />
</div>

<style>
	.contacts {
		position: relative;
		top: 2ch;
	}
</style>
