---
export interface Props {
    listName: string;
    elements: string[];
}
const { listName, elements } = Astro.props;
---

<details>
    <summary>
        {listName}
    </summary>
    <ul>
        {elements.map((e) => <li>{e}</li>)}
    </ul>
</details>

<style>
    details:first-of-type summary::marker,
    :is(::-webkit-details-marker) {
        content: "+";
        font-weight: bold;
    }

    details[open]:first-of-type summary::marker {
        content: "-";
    }

    ul {
        margin: 0;
        padding: 0;
        width: max-content;
    }

    li {
        list-style-type: none;
    }
</style>
