---
import Header from "../components/Header.astro";
import "../styles/global.css";

export interface Props {
	title: string;
	titleOverride?: boolean;
	iconName?: string;
	root?: boolean;
}
const { title, titleOverride, iconName, root } = Astro.props;
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titleOverride ? title : title + " - 🛸"}</title>
	</head>

	<body>
		<Header title={title} iconName={iconName || "man-walking"} {root} />
		<main>
			<slot />
		</main>
	</body>
</html>
