---
import Header from "../components/Header.astro";
import CommonHead from "../components/CommonHead.astro";
import "../styles/global.css";

export interface Props {
	title: string;
	titleOverride?: boolean;
	iconName?: string;
	root?: boolean;
}
const { title, titleOverride, iconName = "man-walking", root } = Astro.props;
---

<html>
	<head>
		<CommonHead />
		<title>{titleOverride ? title : title + " - 🛸"}</title>
	</head>

	<body>
		<Header title={title} iconName={iconName} {root} />
		<main>
			<slot />
		</main>
	</body>
</html>
