---
import Header from "../components/Header.astro";
import CommonHead from "../components/CommonHead.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
	iconName?: string;
	title: string;
	titleOverride?: boolean;
	displayAside?: boolean;
	root?: boolean;
}
const {
	title,
	titleOverride,
	iconName = "man-walking",
	root,
	displayAside,
} = Astro.props;
---

<html>
	<head>
		<CommonHead />
		<title>{titleOverride ? title : title + " - 🛸"}</title>
	</head>

	<body>
		<Header title={title} iconName={iconName} {root} />
		<slot />
		<Footer displayAside={displayAside} />
	</body>
</html>
