---
import "../styles/global.css";
import Header from "../components/Header.astro";

const { title = "none", iconName = "man-walking" } = Astro.props.frontmatter;
---

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title + " - 🛸"}</title>
	</head>

	<body>
		<Header title={title} iconName={iconName} />
		<main>
			<slot />
		</main>
	</body>
</html>
